.App {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc */
  height: 100vh;           /* Đảm bảo chiều cao của container đủ để căn giữa dọc */
}
